<a href="https://colab.research.google.com/github/rgurjar8217git/my_python_git/blob/main/list%2Ctupple%2C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
num=list(range(100,150,7))
num

[100, 107, 114, 121, 128, 135, 142, 149]

In [53]:
fruits = ["apple","orange", "banana","tomato" ]
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'orange', 'banana', 'tomato']

In [54]:
print(fruits[2])

banana

In [55]:
(fruits[2])

'banana'

In [56]:
a = fruits[3]
b = fruits[3]

In [57]:
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [58]:
print(fruits[1:3])

['orange', 'banana']

In [61]:
print(fruits[-3])

orange

In [81]:
veg = ("potato","onion","Radish")
print(veg)
print(type(veg))
print(veg[2][4][-1])

('potato', 'onion', 'Radish')
<class 'tuple'>
s

In [86]:
num = [[1,2],[5,6,7],[8,[3,2,1]],[5],(2,3,99,1),"Rahul"]
print(num)
print(type(num))
num[3] = 999
print(num)

[[1, 2], [5, 6, 7], [8, [3, 2, 1]], [5], (2, 3, 99, 1), 'Rahul']
<class 'list'>
[[1, 2], [5, 6, 7], [8, [3, 2, 1]], 999, (2, 3, 99, 1), 'Rahul']

In [98]:
num[4] =  ("Hey ", "Hii ")

print(num[4])

('Hey ', 'Hii ')

In [111]:
mydict = {34:"Ram",
          35:"Rahul",
          36:"Sita",
          37:"Gita"
          }
print(mydict)

{34: 'Ram', 35: 'Rahul', 36: 'Sita', 37: 'Gita'}

In [115]:
mydict.keys()
mydict.values()

dict_values(['Ram', 'Rahul', 'Sita', 'Gita'])

In [118]:
type(mydict.keys())
type(mydict.values())

dict_values

In [123]:
abc = list(range(50))
print(abc)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [124]:
for i in abc:
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [132]:
for i in abc:
  print(i)
  print(type(i))

0
<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
8
<class 'int'>
9
<class 'int'>
10
<class 'int'>
11
<class 'int'>
12
<class 'int'>
13
<class 'int'>
14
<class 'int'>
15
<class 'int'>
16
<class 'int'>
17
<class 'int'>
18
<class 'int'>
19
<class 'int'>
20
<class 'int'>
21
<class 'int'>
22
<class 'int'>
23
<class 'int'>
24
<class 'int'>
25
<class 'int'>
26
<class 'int'>
27
<class 'int'>
28
<class 'int'>
29
<class 'int'>
30
<class 'int'>
31
<class 'int'>
32
<class 'int'>
33
<class 'int'>
34
<class 'int'>
35
<class 'int'>
36
<class 'int'>
37
<class 'int'>
38
<class 'int'>
39
<class 'int'>
40
<class 'int'>
41
<class 'int'>
42
<class 'int'>
43
<class 'int'>
44
<class 'int'>
45
<class 'int'>
46
<class 'int'>
47
<class 'int'>
48
<class 'int'>
49
<class 'int'>

In [134]:
print(type(abc))

<class 'list'>

In [137]:
nums = list(range(29))
for i in nums(29)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

nums = list(range(29))
find & print square all element

In [141]:
nums = 0
for nums in range(29):
  nums **=2
  print(nums)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784

In [148]:
nums = 0
for nums in range(29):
  print(nums**nums)

1
1
4
27
256
3125
46656
823543
16777216
387420489
10000000000
285311670611
8916100448256
302875106592253
11112006825558016
437893890380859375
18446744073709551616
827240261886336764177
39346408075296537575424
1978419655660313589123979
104857600000000000000000000
5842587018385982521381124421
341427877364219557396646723584
20880467999847912034355032910567
1333735776850284124449081472843776
88817841970012523233890533447265625
6156119580207157310796674288400203776
443426488243037769948249630619149892803
33145523113253374862572728253364605812736

SyntaxError: expected ':' (ipython-input-530075328.py, line 1)